page-sign_up {

    .flasche {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        position: page;
        margin: 0;

        .text {
            text-align: center;
            font-size: 10px;
            margin: 0;
            position: page;
        }
    }

    .iconBlock {
        position: center;
        margin-left: 20%;
        margin-right: 23%;

        .iconLogo {
            float: right;
            border: hidden;
            margin-top: 100px;
        }

        .iconLogo2 {
            float: left;
            border: hidden;
            margin-top: 100px;
        }
    }

    .CreButton {
        margin-left: 10%;
        margin-right: 10%;
    }

    .liste {
        margin-top: 80px;
        margin-left: 10%;
        margin-right: 10%
    }

    .signUpText {
        margin-top: 70px;
        margin-left: 10%;
        margin-right: 10%;
        border-bottom: solid;
        border-bottom-color: grey;
        border-bottom-width: 1px;

        .texT {
            text-align: center;
            font-size: 12px;
            color: grey;
        }
    }
}
