page-sign_up {

    .flasche
        {
          width:100%; 
          height:100%; 
          background-color:#ffffff;
          position:page; 
          margin:0; 
          .text
          {
              text-align:center;
              font-size:10px; 
              margin:0; 
              position:page;
          }
    }

    .iconBlock
        
        {
           position:center;
           margin-left:19%; 
           margin-right:20%; 
            .iconLogo
                {
                   float:right;   
                }
            .iconLogo2
                {
                 float:left; 
            }
    }
}
