page-kampagne {
    .titre {
        text-align: center;
    }

    .custom-font-size {
        .icon {
            font-size: 24px;
        }
    }

    .btn {
        font-size: 20px;
    }

    .item[no-lines].bottom-border {
        border-bottom: 1px solid grey;
    }
}
