<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button (click)="newCampaign()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title class="titre">Campaign</ion-title>

        <ion-buttons end>
            <button ion-button (click)="search()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button menuToggle>
                <ion-icon right name="more"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list class="manual-list-fullwidth">
        <ion-list-header>Overview</ion-list-header>
        <ion-item-sliding *ngFor="let item of items">
            <ion-item class="item-thumbnail">
                <ion-thumbnail item-left>
                    <!-->img *ngIf="imageAvailable" src="assets/placeholder.png"-->
                    <img *ngIf="!imageAvailable" src="assets/placeholder.png">
                </ion-thumbnail>
                <h2>{{ item.title }}</h2>
                <p><small><ion-icon name="md-contacts" item-start> 0 </ion-icon></small></p>
                <!-->p><small><ion-icon name="ios-locate">{{item.location}}</ion-icon></small></!--p-->
                <!-->ion-icon name="ios-arrow-forward" item-right color="light"></!--ion-icon-->
                <button ion-button clear item-right (click)="onItemSelected(item)">View</button>
            </ion-item>
            <ion-item-options>
                <button ion-button color="primary" icon-left (click)="editKampagne()">
                    <ion-icon name="ios-create"><small><small> Edit</small></small></ion-icon>
                </button>
                <button ion-button color="danger" icon-left (click)="deleteKampagne(item)">
                    <ion-icon name="ios-trash"><small><small> Delete</small></small></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>