page-imgWahl {
    .titel {
        text-align: center;
    }


    .image-wrapper
    {

        margin-top:5%; 
        .bouton-bloc {
            margin-top: 10%;
            margin-left: 23%;
            margin-right: 20%;
        }
    }
}
